<html>
  <body>
    <h1>Nouveau Gossip</h1>
      <%= form_tag url_for('/gossips'), method: "post" do %>
      <%= label_tag "Anonymous Gossiper" %>
      <br>
      <%= text_field_tag :user %>
      <br>
      <%= label_tag "Title" %>
      <br>
      <%= text_field_tag :title %>
      <br>
      <%= label_tag "Content" %>
      <br>
      <%= text_area_tag :content %>
      <br>
      <%= submit_tag "New Gossip" %>

      <% end %>
  </body>
</html>
